body {
  font-family: 'DM Sans', sans-serif;
}

.product {
  padding: 3px;
}

.content {
  background: #f1e7e7;
  padding: 0.5em 0.5em 0.8em;

  img {
    height: 190px;
    width: 100%;
    margin-bottom: 1em;
    object-fit: cover;
    object-position: center;
  }

  .price {
    font-weight: 700;
    margin: 0 0 0.5em;
  }
}

table {
  max-width: 580px;
}